<!DOCTYPE html>
<html>
<title>Change Restaurant Info</title>

<body>

    <div>
        <h1>Modify Restaurant <%=restaurant[0].name%></h1>
    </div>


    <form action="/changerestaurant" method="post" encType="multipart/form-data" 
        style="width:100%">
        <p>
            <input type="hidden" name="_id" value=<%=restaurant[0]._id%>>
	    
	    <label">Name:</label>
            <input required name="name" type="text" required value="<%=restaurant[0].name%>">
            </p>
        <p>
	    <label>Borough:</label>
            <input name="borough" type="text" value="<%=restaurant[0].borough%>">
            </p>
        <p>
	    <label>Cuisine:</label>
            <input name="cuisine" type="text" value="<%=restaurant[0].cuisine%>">
            </p>
        <p>
	    <label>Street:</label>
            <input name="street" type="text" value="<%=restaurant[0].address.street%>">
            </p>
        <p>  
	    <label>Building:</label>
            <input name="building" type="text" value=<%=restaurant[0].address.building%>>
           </p>
        <p>
	    <label>Zipcode:</label>
            <input name="zipcode" type="text" value="<%=restaurant[0].address.zipcode%>">
           </p>
        <p>
	     <label>GPS Coordinates (lon.):</label>
            <input name="lon" type="text" value="<%=restaurant[0].address.coord[0]%>">
           </p>
        <p>
	     <label>GPS Coordinates (lat.):</label>
            <input name="lat" type="text" value="<%=restaurant[0].address.coord[1]%>">
            </p>
        <p>
	     <label>Photo</label>:
	    <input name="sampleFile" type="file" value="<%=restaurant[0].image%>">
	   </p>
        <p>
	<p>
                <button> Change </button>
		<button onclick="goBack()">Go Back</button></p>
    </form>
	<script>
            function goBack() {window.history.back();}
        </script>
</body>

</html>
